<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas - Honduras</title>
    <link rel="icon" type="image/svg+xml" href="../img/Inicio/H.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/media.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>

    
    <div class="header">
      <!--  <h2>HONDURAS</h2> -->
    </div>
    <div id="contenedor">
        <div class="gua"> <img src="../img/Inicio/guacamayo5.png" alt="" class="src" width="1017" height="140"></div>

        <nav>
            <ul class="menu-horizontal">
                <li>
                    <a href="/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/Playas.html">Playas</a>

                </li>
                <li>
                    <a href="#">Gastronomia</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Gastronomia.html">Comidas Tipicas</a></li>
                        <li><a href="/views/Bebidas.html">Bebidas Tipicas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cultura</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Etnias.html">Etnias</a></li>
                        <li><a href="/views/Monumentos.html">Monumentos Historicos</a></li>
                        <li><a href="/views/Ecosistemas.html">Ecosistemas</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Tiendas</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/carrito_playa.html">Tienda Playa</a></li>
                        <li><a href="/views/carrito_eco.html">Tienda Ecosistemas</a></li>
                        <li><a href="/views/carrito_monu.html">Tienda Monumentos</a></li>
                    </ul>
                </li>
                <li>

            </ul>
        </nav>

        <br>
        <div class ="parrafo"> 
        <p>
            Un viaje gastronómico por las bebidas típicas de Honduras. Honduras en un país rico en bebidas autóctonas, son 
            típicas de Honduras y que difícilmente podrás encontrar en otros lados de América, y resto del mundo. En Honduras
             existe una gran variedad de bebidas típicas alcohólicas y no alcohólicas según su departamento y municipio, sin 
             alcohol las mas populares que podemos encontrar son el café de palo, la horchata (que no es solo española), el 
             pozole…; y entre las bebidas alcohólicas tradicionales de Honduras podremos encontrar delicioso “el guaro”, “la cususa”, “la chicha”.
            <br><br>
            Las bebidas más típicas y consumidas en el país de honduras son:
        </p>
    </div>
        <br>
        
        

        <section id="columna-izq">
            <h2>Café de palo</h2>
            <br>
            El café de palo es una de las mejores y más exquisitas bebidas de Honduras, porque la esencia pura del 
            café hondureño se puede sentir en cada sorbo que se prueba. Esta infusión es natural y eso lo hace muy 
            especial, está libre de químicos y la cafeína que proporciona es más limpia y menos dañina. Pues no solo 
            en Honduras sino también en todo el Mundo existe ese deseo puro por el Café, que hoy en día es una de las 
            bebidas calientes mas degustadas.
             <div class="conta">
                <img src="../img/Bebidas/cafe1.jpeg" alt="Image 1">
                <img src="../img/Bebidas/cafe2.webp" alt="Image 2">
            </div>
            <hr><br>
            <h2>Güifiti</h2>
            <br>
            El guiffity es una bebida preparada asociada con la comunidad garífuna, que toma nombre de la palabra de 
            esta misma lengua para “amargo”. Con sus orígenes como un brebaje medicinal de los afrodescendientes de 
            Honduras, sus ingredientes incluyen hierbas como manzanilla, pericón, anís, pimienta gorda, clavos de olor 
            y palo de hombre, entre otros. Aunque consiste en una base de siete plantas, el guiffity puede llegar a 
            incluir cerca de 38 tipos de raíces, hojas, ramas, flores y semillas diferentes.
            <div class="conta">
                <img src="../img/Bebidas/gifi1.jpeg" alt="Image 1">
                <img src="../img/Bebidas/gifi2.jpeg" alt="Image 2">
            </div>
            <hr><br>
            <h2>Vino de coyol</h2>
            <br>
            El vino coyol se obtiene del tallo de la palmera que lleva el mismo nombre. Esta palmera es de mediana 
            altura, comúnmente crece en las zonas tropicales de América. Su fruto también se llama coyol y es una 
            pequeña fruta de forma esférica que contiene una almendra de la cual se puede extraer aceite. 
            Olancho es un departamento de Honduras que resalta por tener la mayor extensión territorial, una 
            producción agrícola abundante y por su espesa vegetación que es el hogar de muchas especies silvestres. 
            Además la amabilidad de su gente,  su gastronomía y su tradicional vino de coyol, hacen aún más 
            atractivas las pampas olanchanas.
             <div class="conta">
                <img src="../img/Bebidas/coyol1.jpeg" alt="Image 1">
                <img src="../img/Bebidas/coyol2.jpeg" alt="Image 2">
            </div>
            <hr><br>
            <h2>Guaro </h2>
            <br>
            El agua ardiente o Guaro es una bebida alcohólica que se fabrica en varias destilerías de Honduras, Municipio 
            de Yuscarán y su ingrediente principal es la caña de azúcar  su sabor es neutro, ósea que puedes tomarlo puro 
            o acompañado de otras bebidas como ser jugo de naranja, ponche y sodas. Este producto es tan consumido a nivel 
            nacional que en el mercado un pedido lo más que dura son 15 días. Anualmente, se producen más de dos millones 
            de litros de la bebida. Casi cien cargas de dulce de panela, unas 15 mil libras, hierven todos los días en un 
            inmenso depósito de madera, despidiendo un atrayente y dulce olor.
            <div class="conta">
                <img src="../img/Bebidas/guaro1.jpeg" alt="Image 1">
                <img src="../img/Bebidas/guaro2.png" alt="Image 2">
            </div>
            <hr>
<br>
        </section>

            <br>
        <div class ="parrafo"> 
        <p> 

            Las bebidas tradicionales de nuestro país representan la manera de cómo hemos conservado la producción de nuestra 
            gastronomía de una manera muy tradicional. Pues ellas contienen elementos indígenas pre-colombinos, españoles, 
            criollos y, en alguna medida, africanos, como es típico en toda la costa Atlántica centroamericana. Muchos de estos 
            deleites están elaborados a base de semillas o frutas, las cuales son producidas en nuestra propia tierra por los 
            agricultores hondureños. Otro dato es que, las bebidas típicas de Honduras varían según su departamento y municipio.
            
        </p>
        </div>
        <br>

    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/Inicio/Flag.png" alt="Logo de Honduras">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                Visita nuestras redes sociales para saber mas
                </p>
                
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>

            <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Turismo Honduras</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>