<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilo.css">
    <script src="../public/app.js" async></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/svg+xml" href="../img/Inicio/H.png" />
    <title>Tienda - Monumentos</title>
</head>
<body>
    <header>
        <h1>Para una mejor experiencia en tus viajes</h1>
        <h2>Monumentos de Honduras</h2>
        <nav>
            <ul class="menu-horizontal">
                <li>
                    <a href="/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/Playas.html">Playas</a>

                </li>
                <li>
                    <a href="#">Gastronomia</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Gastronomia.html">Comidas Tipicas</a></li>
                        <li><a href="/views/Bebidas.html">Bebidas Tipicas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cultura</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Etnias.html">Etnias</a></li>
                        <li><a href="/views/Monumentos.html">Monumentos Historicos</a></li>
                        <li><a href="/views/Ecosistemas.html">Ecosistemas</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Tiendas</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/carrito_playa.html">Tienda Playa</a></li>
                        <li><a href="/views/carrito_eco.html">Tienda Ecosistemas</a></li>
                        <li><a href="/views/carrito_monu.html">Tienda Monumentos</a></li>
                    </ul>
                </li>
                <li>

            </ul>
        </nav>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Tour por la Iglesia</span>
                <img src="../img/carrito_monu/iglesia.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$15</span>
                <p>Incluye recorrido y visitar sus diferentes cuerpos.</p>
                <p>Ademas de la apreciacion del reloj mas antiguo de America.</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Escalinata Jeroglífica</span>
                <img src="../img/carrito_monu/escalinata.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$50</span>
                <p>Los guías te explican en distintos idiomas, es una caminata por demás interesante y es de gran ayuda conocer un poco.</p>
                
               
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Visita al museo</span>
                <img src="../img/carrito_monu/museo-de-arqueologia.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$30</span>
                <p>El museo conserva piezas que complementan el conocimiento del arte y modo de vida en el Copan Maya.</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Macaw Mountain Bird Park</span>
                <img src="../img/carrito_monu/macaw-mountain-bird-park.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$50</span>
                <p>Apreciacion de los diferentes tipos de aves exoticas.</p>
                <p>Tour por toda la montaña.</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Paseo De Los Girasoles</span>
                <img src="../img/carrito_monu/girasoles.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$50</span>
                <p>Vistia la finca de girasoles. Único en la zona. 
                Ademas disfruta de nuestra deliciosa comida al terminar el recorrido.</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">La Crucita</span>
                <img src="../img/carrito_monu/la-gruta-de-La-Esperanza-Intibuca.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$40</span>
                <p>Subir las escaleras es un divertido reto para los amantes de la aventura, ya que es ideal para hacer recorridos al aire libre.</p>
               
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">El Obelisco</span>
                <img src="../img/carrito_monu/el-obelisco.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$20</span>
                <p>Es en un lugar de esparcimiento y paseo dominical para los “comayagüelas” y los capitalinos y todos los que visiten la zona.</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Basilica de Suyapa</span>
                <img src="../img/carrito_monu/basilica-de-suyapa.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$0</span>
                <p>Que lugar más espléndido,con un tesoro artístico, es un templo elevado a la dignidad de la Basílica.</p>
            
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/Inicio/Flag.png" alt="Logo de Honduras">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                Visita nuestras redes sociales para saber mas
                </p>
                
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>

            <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Turismo Honduras</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>