<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/estilo.css">
    <script src="../public/app.js" async></script>
    <link rel="icon" type="image/svg+xml" href="../img/Inicio/H.png" />
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Tienda - Ecosistemas</title>
</head>
<body>
    <header>
        <h1>Para una mejor experiencia en tus viajes</h1>
        <h2>Ecosistemas de Honduras</h2>

        <nav>
            <ul class="menu-horizontal">
                <li>
                    <a href="/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/Playas.html">Playas</a>

                </li>
                <li>
                    <a href="#">Gastronomia</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Gastronomia.html">Comidas Tipicas</a></li>
                        <li><a href="/views/Bebidas.html">Bebidas Tipicas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cultura</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Etnias.html">Etnias</a></li>
                        <li><a href="/views/Monumentos.html">Monumentos Historicos</a></li>
                        <li><a href="/views/Ecosistemas.html">Ecosistemas</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Tiendas</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/carrito_playa.html">Tienda Playa</a></li>
                        <li><a href="/views/carrito_eco.html">Tienda Ecosistemas</a></li>
                        <li><a href="/views/carrito_monu.html">Tienda Monumentos</a></li>
                    </ul>
                </li>
                <li>

            </ul>
        </nav>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Observacion de aves</span>
                <img src="../img/carrito_eco/avess.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$20</span>
                <p>Incluye 2 vinoculares</p>
                <p>Ruta segura</p>
                <p>Guia profesional</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Ciclismo</span>
                <img src="../img/carrito_eco/ciclismo.jpg" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$50</span>
                <p>Incluye 2 bicicletas</p>
                <p>Ruta segura</p>
                <p>Duracion 40 min la ruta</p>
               
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Guias Turisticos</span>
                <img src="../img/carrito_eco/guia.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$70</span>
                <p>Incluye 3 personas</p>
                <p>Ruta segura</p>
                <p>Duracion 90 min la ruta</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Nado en cascada</span>
                <img src="../img/carrito_eco/nado.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$30</span>
                <p>Incluye 2 personas</p>
                <p>Incluye flotadores</p>
                <p>Guia profesional</p>
                
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Rapel</span>
                <img src="../img/carrito_eco/rapel.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$50</span>
                <p>Incluye 1 persona</p>
                <p>Primeros auxilios lo incluye</p>
                <p>Guia profesional</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Tirolesa</span>
                <img src="../img/carrito_eco/tirolesa.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$40</span>
                <p>Incluye 2 persona</p>
                <p>Primeros auxilios</p>
                <p>Guia profesional</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Canoa</span>
                <img src="../img/carrito_eco/canoa.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$20</span>
                <p>Incluye 2 persona</p>
                <p>Equipo de flotadores</p>
                <p>Mapa de recorrido</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Mirador</span>
                <img src="../img/carrito_eco/mirador.PNG" alt="" class="img-item" width="200" height="300">
                <span class="precio-item">$10</span>
                <p>Incluye 2 persona</p>
                <p>Privacidad</p>
                <p>Ambiente calmado</p>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/Inicio/Flag.png" alt="Logo de Honduras">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                Visita nuestras redes sociales para saber mas
                </p>
                
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>

            <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Turismo Honduras</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    
</body>
</html>