<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etnias - Honduras</title>
    <link rel="icon" type="image/svg+xml" href="../img/Inicio/H.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/media.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>

    
    <div class="header">
      <!--  <h2>HONDURAS</h2> -->
    </div>
    <div id="contenedor">
        <div class="gua"> <img src="../img/Inicio/guacamayo5.png" alt="" class="src" width="1017" height="140"></div>

        <nav>
            <ul class="menu-horizontal">
                <li>
                    <a href="/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/Playas.html">Playas</a>

                </li>
                <li>
                    <a href="#">Gastronomia</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Gastronomia.html">Comidas Tipicas</a></li>
                        <li><a href="/views/Bebidas.html">Bebidas Tipicas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cultura</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Etnias.html">Etnias</a></li>
                        <li><a href="/views/Monumentos.html">Monumentos Historicos</a></li>
                        <li><a href="/views/Ecosistemas.html">Ecosistemas</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Tiendas</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/carrito_playa.html">Tienda Playa</a></li>
                        <li><a href="/views/carrito_eco.html">Tienda Ecosistemas</a></li>
                        <li><a href="/views/carrito_monu.html">Tienda Monumentos</a></li>
                    </ul>
                </li>
                <li>

            </ul>
        </nav>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/Etnias/garifuna.jpeg" width="1017" height="400" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/Etnias/misquitos.jpeg" width="1017" height="400" class="d-block w-100" alt="...">
                      </div>
                      
                    </div>
                  </div>
        <br>
        <div class ="parrafo"> 
        <p>
            En Honduras existen 9 Pueblos Indígenas y Afrohondureños (PIAH), los cuales podemos
            identificar como Lenca, Maya-Chorti, Garífunas, Tawahkas, Tolupanes, Pech, Misquitos,
            Nahualt, Garífunas y los Negros de Habla Inglesa o Creoles, todos ellos ubicados en
            distintas regiones del territorio, con costumbres, idiomas y cultura propia.
        </p>
    </div>
        <br>
        <!--<img src="./img/Honduras.jpeg" alt="" class="src" width="1017" height="464">-->
        

        <section id="columna-izq">
            <h2>Lencas</h2>
            <br>
            
            Es un Pueblo de origen maya, cuando los conquistadores llegaron a honduras en el siglo XVI los lencas formaban 
            el grupo indígena ms numeroso, se dividían en dos grupos por un lado los lencas o potones en los territorios de 
            los actuales departamentos de Comayagua, La Paz, Francisco Morazán y los potones al este de Lempa en el Salvador 
            y por otro lado, Los Cares que se extendían por La Paz, Intibuca, Lempira y Santa Bárbara. Hoy en día el Lenca 
            sigue siendo el grupo aborigen dominante, si bien la mayoría de sus miembros  han perdido su idioma ahora hablan 
            español. Entre sus rasgos culturales más sobresalientes cabe mencionar, ciertas prácticas religiosas como el guancasco, 
            cuyo propósito son los pactos de paz entre comunidades, las composturas o gritos agrarios consistentes en rezos y ofrendas 
            a los dioses ancestrales.
             <div class="conta">
                <img src="../img/Etnias/lencas1.jpeg" alt="Image 1">
                <img src="../img/Etnias/lencas2.jpeg" alt="Image 2">
            </div>
            <hr><br>
            <h2>Xicaques o Tolupanes</h2>
            <br>
            Es un pueblo indígena más antiguo que los mayas, a finales de la época precolombina ya se habían extendido por la costa caribeña 
            desde punta castilla hasta Omoa, y por tierra interior hasta el rio Sulaco, la palabra xicaque i jicaque fue el nombre dado en general 
            a los indígenas no cristianizados, y se les considera como gente incivilizadas, en el siglo XVII se ubicaron como grupo étnico en las 
            riberas de los ríos Guayape y Guayambre, en el actual departamento de Olancho.
            <br><br>
            Ubicación geográfica actual: 
            <br><br>
            Se localizan en los municipios de Yorito, el Negrito, Morazán, Victoria y Olanchito en el departamento de Yoro, y en los municipios de 
            Orica y Marale en el departamento de Francisco Morazán.  El rio Ulúa formaba la línea fronteriza entre los mayas y los Tolupanes, situándose 
            los primeros junto a los Lencas al oeste, y los Tolupanes al este. 
            <div class="conta">
                <img src="../img/Etnias/tolu1.jpeg" alt="Image 1">
                <img src="../img/Etnias/tolu2.jpeg" alt="Image 2">
            </div>
            <hr><br>
            <h2>Garífunas</h2>
            <br>
            
            Fueron deportados desde la isla de San Vicente por los ingleses y llegaron a Roatán el 12 de abril de 1797. 
            Entre sus elementos culturales cabe destacar, su lengua, su tradición musical y danzas, una religión con 
            elementos paralelos al culto católico y una artesanía utilitaria. Según los estudios realizados, durante los siglos 
            XVIII y XIX llegaron varios contingentes de personas de color al 
            actual territorio hondureño, siendo los de mayor importancia el grupo de los garífunas, actualmente se identifican 
            dos grupos de afro caribeños, un grupo lo conforman los llamados negros garífunas o morenos y otro los negros isleños de habla inglesa. 
            <br><br>
            Ubicación geográfica actual:
            <br><br>
            Están hoy distribuidos en 53 comunidades principalmente en el litoral norte e n los departamentos de Atlántida, 
            Cortés, Islas de la Bahía, Colon y Gracias a Dios. Existen además grupos en San Pedro Sula, El Progreso, La Lima y 
            Tegucigalpa, en honduras se calcula que unas 50,000 personas son de lengua garífuna. 
             <div class="conta">
                <img src="../img/Etnias/garifunas.jpeg" alt="Image 1">
                <img src="../img/Etnias/garifunas1.jpeg" alt="Image 2">
            </div>
            <hr><br>
            <h2>Misquitos </h2>
            <br>
            
            Son producto de la mezcla de bawinkas, tawahkas, africanos y europeos. Como se mezclaron con negros náufragos llegados
             a la mosquitia dieron lugar a un mestizaje conocido como zambo, pero mantienen en común su propia cultura misquita. 
             Entre sus elementos culturales se destaca su lengua, que tiene influencia del inglés, se alimentan de yuca, pescad o 
             algunos tubérculos y productos vegetales silvestres, su tradición comercial se remonta a los tiempos en que eran intermediarios 
             entre los comerciantes ingleses y otras tribus indígenas del interior los payas y sumos.  En la actualidad los misquitos que 
             han transformado gran parte de sus creencias antiguas, ya no usan atuendos típicos peros si conservan una variedad de canciones 
             y algunas danzas, entre la gente de avanzada edad se conserva la idea de venerar algunos espíritus para lo cual disponen de los 
             servicios de los brujos, conocidos como zukias. 
             <br><br>
             Ubicación geográfica actual:
             <br><br>
            La actual comunidad mosquitia se extiende entre  Honduras y Nicaragua siendo el rio Coco o Segovia la línea divisoria, ocupan la 
            zona comprendida entre los cabos Camarón y Gracias a Dios a lo largo de los ríos Coco, Mocorón, Patuca y Plátano, un grupo de misquitos 
            cohabita con familias Pech en la comunidad de Las Mriás en Rio Plátano y Paplaya del municipio Juan Francisco Bulnes, otros lo hacen con 
            los Tawahkas  en el patuca medio.
            <div class="conta">
                <img src="../img/Etnias/mis1.jpeg" alt="Image 1">
                <img src="../img/Etnias/mis2.jpeg" alt="Image 2">
            </div>
            <hr>
<br>
        </section>

            <br>
        <div class ="parrafo"> 
        <p> 

            El antropólogo mexicano Francisco Lizcano Fernández señala que el 85,6% de los hondureños son mestizos, el 7,7% indígenas, el 3,3% creoles y garífunas, 
            el 1,7% mulatos, el 1% blancos y el 0,7% asiáticos (incluyendo judíos y árabes). Según The CIA World Factbook, el 90% de la población hondureña es mestiza,
             el 7% indígena, el 2% negra y el 1% blanca. De acuerdo a la Enciclopedia Británica, el 86,6% de los hondureños son mestizos, el 5,5% son indígenas, el 4,3%
              negros (incluyendo garífunas), el 2,3% blancos y el 1,3% pertenecen a otros grupos. En la encuesta de Latinobarómetro de 2016, un 67% de los hondureños se 
              autoidentificaron como mestizos, un 16% como mulatos, un 13% como indígenas, un 2% como negros, un 1% como blancos y un 1% como asiáticos.
            
        </p>
        </div>
        <br>

    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/Inicio/Flag.png" alt="Logo de Honduras">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                Visita nuestras redes sociales para saber mas
                </p>
                
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>

            <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Turismo Honduras</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>