<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playas - Honduras</title>
    <link rel="icon" type="image/svg+xml" href="../img/Inicio/H.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/media.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>

    
    <div class="header">
      <!--  <h2>HONDURAS</h2> -->
    </div>
    <div id="contenedor">
        <div class="gua"> <img src="../img/Inicio/guacamayo5.png" alt="" class="src" width="1017" height="140"></div>

        <nav>
            <ul class="menu-horizontal">
                <li>
                    <a href="/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/views/Playas.html">Playas</a>

                </li>
                <li>
                    <a href="#">Gastronomia</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Gastronomia.html">Comidas Tipicas</a></li>
                        <li><a href="/views/Bebidas.html">Bebidas Tipicas</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cultura</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/Etnias.html">Etnias</a></li>
                        <li><a href="/views/Monumentos.html">Monumentos Historicos</a></li>
                        <li><a href="/views/Ecosistemas.html">Ecosistemas</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Tiendas</a>
                    <ul class="menu-vertical">
                        <li><a href="/views/carrito_playa.html">Tienda Playa</a></li>
                        <li><a href="/views/carrito_eco.html">Tienda Ecosistemas</a></li>
                        <li><a href="/views/carrito_monu.html">Tienda Monumentos</a></li>
                    </ul>
                </li>
                <li>

            </ul>
        </nav>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/Playas/playa1.webp" width="1017" height="400" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/Playas/playa2.webp" width="1017" height="400" class="d-block w-100" alt="...">
                      </div>
                      
                    </div>
                  </div>
        <br>
        <div class ="parrafo"> 
        <p>
            Honduras es un país de América Central con costas en el mar Caribe al norte y en el océano 
            Pacífico al sur. En el bosque tropical cerca de Guatemala, el antiguo sitio ceremonial maya de 
            Copán tiene jeroglíficos tallados en piedra y estelas, altos monumentos de piedra. En el mar Caribe, 
            se encuentran las Islas de la Bahía, un destino para el buceo que forma parte de la Barrera de Coral Mesoamericana
        </p>
    </div>
        <br>
        <!--<img src="./img/Honduras.jpeg" alt="" class="src" width="1017" height="464">-->
        

        <section id="columna-izq">
            <h2>ÚTILA</h2>
            <br>
            Honduras se encuentra localizada en una posición tropical de 15 a 16 grados al
             norte del ecuador. Únicamente cuenta con dos estaciones, las cuales están 
             bien definidas: La estación seca y la estación lluviosa. La estación lluviosa 
             comienza en mayo extendiéndose hasta el mes de julio con una pausa durante 
             el mes de agosto; esta generalmente se reanuda en septiembre hasta el mes 
             de noviembre cuando comienza la estación seca. Esta estación, se extiende 
             hasta el mes de abril o mayo. La zona sur de Honduras cuenta con un clima 
             de sabana tropical. En esta zona, se presenta generalmente un clima seco por 
             seis meses o más.
             

            <hr><br>
            <h2>ROATÁN</h2>
            <br>
            Roatán es una de las Islas de la Bahía de Honduras en el Caribe. Forma parte del enorme Sistema
             Arrecifal Mesoamericano y es conocida por las playas, los sitios de buceo y la fauna marina, 
             incluido el tiburón ballena. En el suroeste está la concurrida playa de West Bay, con un 
             arrecife de coral cerca de la costa. Los cruceros atracan en la capital de Coxen Hole y en 
             la cercana Mahogany Bay. Al este, hay asentamientos más pequeños, incluida la aldea garífuna 
             de Punta Gorda.
             <div class="conta">
                <img src="../img/Playas/roatan1.jpeg" alt="Image 1">
                <img src="../img/Playas/roatan2.jpeg" alt="Image 2">
                
            </div>
            <hr><br>
            <h2>TRUJILLO</h2>
            <br>
            Trujillo es un lugar rico en historia de piratas, conquistas, corsarios, compañías bananeras, 
            con un pasado precolombino que hace de este destino un atractivo único. Su casco histórico está 
            compuesto por los preciosos edificios de la Catedral San Juan Bautista, la Fortaleza de Santa Bárbara, 
            el antiguo cementerio, y otros importantes edificios. No podemos dejar por fuera su deliciosa gastronomía,
            donde se puede degustar tabletas y pan de coco, kazabe, y la tradicional bebida garífuna, gifitti
            <div class="conta">
                <img src="../img/Playas/trujillo1.jpeg" alt="Image 1">
                <img src="../img/Playas/trujillo2.jpeg" alt="Image 2">
                
            </div>
            <hr>
<br>
        </section>

            <br>
        <div class ="parrafo"> 
        <p> 

            Honduras es una tierra de riquezas donde la hospitalidad de su gente es la protagonista, y te harán sentir bienvenido como un huésped respetable. 
            En comparación con el resto de América Central, en Honduras se encuentra mucha más gente dispuesta a hablar inglés, un legado debido a la antigua 
            presencia del cultivo del banano e industrias retiradas en el siglo XX. 
            Honduras es el destino perfecto para disfrutar de las mejores playas. Este lugar ofrece lo mejor de ambos mundos: el encanto de América Central y 
            la exótica belleza del Caribe. 
            
        </p>
        </div>
        <br>

    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/Inicio/Flag.png" alt="Logo de Honduras">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                Visita nuestras redes sociales para saber mas
                </p>
                
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                </div>
            </div>

            <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Turismo Honduras</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>